body{
	background-color: #f7f7f7;
}
.smartui-salutation{
	width: -webkit-fill-available;
    height: 100px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
	margin: 15px 30px;
}
.smartui-notification{
	    top: calc(50% - 150px);
        left: calc(50% - 300px);
        height: auto;
        background-color: white;
        z-index: 10000;
        position: absolute;
        box-shadow: 10px 10px 100px 25px rgba(255,0,0,1);
        width: 600px;
}
.smartui-notif-submessage {
    color: black;
    font-size: 20px;
}
input.smartui-notif-close {
	font-size: 20px;
	top: calc(50% - 10px);
	position: relative;
}
.smartui-notif-buttons {
    width: auto;
    background-color: yellow;
    height: 50px;
}
.smartui-text-extended {
    position: relative;
    margin: 2px 10px;
    height: 30px;
    width: 200px;
    border: 1px solid black;
}
.smartui-buttons, .smartui-extended-buttons{
	width: calc(50% - 60px);
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
	margin: 15px 30px;
	position:relative;
	height: 40%;
	float: left;
}
.smartui-button{
	color: white;
	background-color: #04bc04;
	height: 40px;
	margin: 10px 5px;
	padding: 0 10px;
	width: 200px;
	border-radius: 20px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.smartui-close{
	float: right;
    border: none;
    background-color: white;
    width: 20px;
    font-size: 20px;
    margin: 0 5px 0px 0px;
    height: 20px;
	cursor: pointer;
}
.smartui-refresh{
	float: right;
    border: none;
    background-color: white;
	width: 100px;
    font-size: 20px;
    margin: 0 5px 0px 0px;
    height: 20px;
}
.smartui-device, .smartui-add-rule{
	position:relative;
	left: calc(50% - 100px);
}
.smartui-log{
	position:relative;
	left: calc(50% - 100px);
}
.smartui-schedule{
	position:relative;
	left: calc(50% - 100px);
}
.smartui-extended-second{
	width: calc(100% - 60px);
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin: 15px 30px;
    position: relative;
    height: fit-content;
    float: left;
    min-height: 35%;
}
.smartui-button:hover{
	color: white;
	background-color: green;
}
.smartui-text {
    float: right;
    position: relative;
    height: 30px;
    width: 200px;
    border: 1px solid black;
}
.smartui-extended-title {
    height: 30px;
    border-bottom: 1px solid #d2d2d2;
}
.smartui-table{
	border-collapse: collapse;
    text-align: center;
    width: -webkit-fill-available;
    margin: 10px 5px 0px 5px;
}
.smartui-table-row {
    font-size: 20px;
}
span.notif-title {
    font-size: 26px;
    top: calc(50% - 13px);
    position: relative;
    left: 24%;
}
.smartui-table-row-cell-header {
    border: 2px solid black;
}

.smartui-table-row-cell {
    border: 1px solid black;
}
.smartui-notif-title {
    width: auto;
    height: 40px;
    border-bottom: 1px gray solid;
}
.smartui-notif-message{
	width: auto;
    height: -webkit-fill-available;
}
input:focus{
outline: none !important;
}
span{
	color: black;
	font-size: 26px;
    text-align: center;
    position: absolute;
    width: calc(100% - 25px);
}
.smartui-extended-second .smartui-extended-title span {
    color: black;
    font-size: 26px;
    text-align: center;
    position: absolute;
    width: calc(100% - 125px);
}